body {
    background-color: #121212;
    margin: 0;
    font-family: "Almarai", "Montserrat";
}

img {
    max-width: 100%;
    border-radius: 20px;
}

h1 h2 h3 h4 a ul li p {
    margin: 0;
    padding: 0;
    line-height: 130%;
}

strong {
    line-height: 150%;
}

header {
    max-width: 1120px;
    margin: auto;
    margin-top: 32px;
    border-bottom: solid white 2px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 16px;
}

header ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

header a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

header .greendesign a {
    letter-spacing: -2.56px;
    font-size: 32px;
}

header .greendesign a:hover {
    color: #A1D82E;
    text-decoration: none;
}

.testata .greendesign {
    height: 14px;
}

.illustrazione {
    max-width: 1120px;
    margin: 32px auto 0;
    border: solid white 2px;
    border-radius: 20px;
}

.testo-presentazione {
    max-width: 1120px;
    margin: 0 auto;
}

.testo {
    max-width: 1120px;
    margin: 240px auto 0;
}

.testo2 {
    max-width: 1120px;
    margin: 120px auto 0; 
}

.testo2 p {
    color: #FFF;
}

.testo p {
    color: #FFF;
}



h1 {
    color: #FFF;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 68px;
    margin: 0;
}

h2 {
    font-size: 32px;
    color: #FFF;
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
    max-width: 544px;
    margin-bottom: 8px;
}

.titolo-testo-inizio {
    margin-top: 64px;
}

.titolo-testo-inizio h2 {
    margin-top: 64px;
    font-family: "Montserrat";
}

.titolo-testo-inizio p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 12px;
    width: 544px;
    color: #FFF;
}


.titolo-testo p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 12px;
    width: 544px;
}

.citazione-link {
    margin-top: 240px;
    max-width: 736px;
}

.citazione-link2 {
    max-width: 736px;
}

.citazione-link p {
    font-size: 30px;
}

.citazione-link2 p {
    font-size: 30px;
}

.citazione-link strong {
    line-height: 200%;
}

.citazione-link2 strong {
    line-height: 200%;

}

.button {
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px #000, 1px -1px 4px 0px rgba(0, 0, 0, 0.50) inset;
    background: #FFF;
    padding: 0;
    margin-top: 8px;
    text-align: center;
    width: 256px;
}

.button h3 {
    font-size: 18px;
    color: #000;
    padding: 0;
}

.button:hover {
    background-color: #d9d9d9;
    box-shadow: none;
}

.citazione-link a {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    padding: 0;
}

.citazione-link2 a {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    padding: 0;
}

.card {
    max-width: 1120px;
    margin:  240px auto 0;
}

.card h2 {
    margin-bottom: 16px;
}

.griglia {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.griglia-brand {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    max-width: 928px;
    margin: auto;
}

.griglia-brand .img-link {
    align-items: center;
}

.card-link img {
    display: block;
    border-radius: 10px;
    border: solid white 2px;
    height: 256px;
    width: 100%;
    object-fit: cover;
}

.card-brand img {
    display: block;
    border-radius: 10px;
    border: solid white 2px;
    height: 542px;
    width: 100%;
    object-fit: cover;
}

.card-brand:hover {
    opacity: 70%;
}

.img-link {
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px #000, 1px -1px 4px 0px rgba(0, 0, 0, 0.50) inset;
    background: #FFF;
    padding: 0;
    margin-top: 8px;
    text-align: center;
    height: 32px;
    align-items: center;
}

.img-link h3 {
    font-family: "Montserrat";
    font-size: 16px;
}

.img-link:hover {
    box-shadow: none;
    background-color: #d9d9d9;
}

.img-link a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.img-link a:hover {
    text-decoration: none;
}

h4 {
    color: #FFF;
}

footer {
    max-width: 1120px;
    margin: 240px auto 0;
}

footer .greendesign a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    letter-spacing: -2.56px;
    font-size: 24px;
}

footer .greendesign {
    border-bottom: solid white 2px;
    max-width: 256px;
}

.chisiamo-contatti {
    margin: 16px 0;
}

.chisiamo-contatti h4 {
    margin-bottom: 4px;
    margin-top: 0;
}

.chisiamo-contatti a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    display: block;
    max-width: fit-content;
    font-weight: bold;
}

.chisiamo-contatti ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.chisiamo-contatti li {
    padding: 0;
    margin: 4px 0 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 200;
}

.chisiamo-contatti a {
    padding: 0;
    margin: 0;
    font-weight: 200;
}

.footer {
    justify-content: space-between;
    border-bottom: #FFF solid 2px;
    display: flex;
}

.chisiamo-contatti p {
    color: #fff;
}


.sotto-linea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.social ul {
    margin: 16px 0 0 0;
    gap: 64px;
    display: flex;
    list-style-type: none;
}

.crediti p {
    margin-top: 32px;
    font-size: 14px;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

.greendesign a:hover {
    color: grey;
}

.button a:hover {
    text-decoration: none;
}


.img-link h3 {
    padding: 4px 16px;
    color: #000;
    font-size: bold;
}

.griglia-brand a {
    text-decoration: none;
}

.griglia a {
    text-decoration: none;
}

.lista-elenco {
    font-size: 30px;
    color: #FFF;

}

.lista-elenco p {
    font-weight: bold;
    margin: 0;
    padding: 8px 0;
}

.lista-elenco ul {
    margin: 0;
    padding: 0;
}

.titolo-testo ul {
    color: white;
    padding: 0;
}

.titolo-testo li {
    margin-bottom: 32px;
}